# Python cache and bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# System files
.DS_Store

# Logs and runtime files
*.log
*.env
.env*

# Test and coverage files
.coverage
coverage.xml
htmlcov/

# PyInstaller
*.spec

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/
